@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: #fafafa;
        --foreground: #18181b;

        --primary: #0284c7;
        --primary-foreground: #fafafa;
        --primary-hover: #0369a1;

        --secondary: #4b5563;
        --secondary-foreground: #fafafa;
        --secondary-hover: #374151;

        --success: #059669;
        --success-foreground: #fafafa;
        --success-hover: #047857;

        --warning: #ca8a04;
        --warning-foreground: #fafafa;
        --warning-hover: #a16207;

        --danger: #dc2626;
        --danger-foreground: #fafafa;
        --danger-hover: #b91c1c;

        --input: #fff;
        --input-focus: #0284c7;
        --input-placeholder: #71717a;
        --input-invalid: #ef4444;

        --border: #d4d4d8;
        --border-strong: #a1a1aa;

        --card: #ffffff;
        --card-hover: #fafafa;

        --radius: 0.25rem;
    }

    [data-theme='dark'] {
        --background: #18181b;
        --foreground: #fafafa;

        --primary: #7dd3fc;
        --primary-foreground: #18181b;
        --primary-hover: #bae6fd;

        --secondary: #d4d4d8;
        --secondary-foreground: #18181b;
        --secondary-hover: #e4e4e7;

        --success: #34d399;
        --success-foreground: #18181b;
        --success-hover: #6ee7b7;

        --warning: #facc15;
        --warning-foreground: #18181b;
        --warning-hover: #fde047;

        --danger: #f87171;
        --danger-foreground: #18181b;
        --danger-hover: #fca5a5;

        --input: #18181b;
        --input-focus: #7dd3fc;
        --input-placeholder: #a1a1aa;
        --input-invalid: #fca5a5;

        --border: #3f3f46;
        --border-strong: #52525b;

        --card: #27272a;
        --card-hover: #3f3f46;

        --radius: 0.25rem;
    }

    body {
        @apply bg-background font-Inter text-foreground antialiased transition-colors duration-300;
    }
}
