@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 250 250 250;
        --foreground: 24 24 27;

        --primary: 2 132 199;
        --primary-foreground: 250 250 250;
        --primary-hover: 3 105 161;

        --secondary: 82 82 91;
        --secondary-foreground: 250 250 250;
        --secondary-hover: 63 63 70;

        --success: 5 150 105;
        --success-foreground: 250 250 250;
        --success-hover: 4 120 87;

        --warning: 202 138 4;
        --warning-foreground: 250 250 250;
        --warning-hover: 161 98 7;

        --danger: 220 38 38;
        --danger-foreground: 250 250 250;
        --danger-hover: 185 28 28;

        --input: #fff;
        --input-focus: #0284c7;
        --input-placeholder: #71717a;
        --input-invalid: #ef4444;

        --border: #d4d4d8;
        --border-strong: #a1a1aa;

        --card: #ffffff;
        --card-hover: 250 250 250;

        --radius: 0.25rem;
    }

    [data-theme='dark'] {
        --background: 24 24 27;
        --foreground: 250 250 250;

        --primary: 125 211 252;
        --primary-foreground: 24 24 27;
        --primary-hover: 186 230 253;

        --secondary: 212 212 216;
        --secondary-foreground: 24 24 27;
        --secondary-hover: 228 228 231;

        --success: 52 211 153;
        --success-foreground: 24 24 27;
        --success-hover: 110 231 183;

        --warning: 250 204 21;
        --warning-foreground: 24 24 27;
        --warning-hover: 253 224 71;

        --danger: 248 113 113;
        --danger-foreground: 24 24 27;
        --danger-hover: 252 165 165;

        --input: 24 24 27;
        --input-focus: #7dd3fc;
        --input-placeholder: #a1a1aa;
        --input-invalid: #fca5a5;

        --border: #3f3f46;
        --border-strong: #52525b;

        --card: #27272a;
        --card-hover: #3f3f46;

        --radius: 0.25rem;
    }

    body {
        @apply bg-background font-Inter text-foreground antialiased transition-colors duration-300;
    }
}
