@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 98%;
        --background-hover: 0 0% 100%;
        --foreground: 240 5% 15%;
        --foreground-hover: 240 10% 5%;

        --primary: 200 98% 35%;
        --primary-foreground: 0 0% 98%;
        --primary-hover: 200 98% 30%;

        --secondary: 240 5% 35%;
        --secondary-foreground: 0 0% 98%;
        --secondary-hover: 240 5% 25%;

        --success: 160 93% 30%;
        --success-foreground: 0 0% 98%;
        --success-hover: 160 93% 25%;

        --warning: 40 95% 40%;
        --warning-foreground: 0 0% 98%;
        --warning-hover: 40 95% 35%;

        --danger: 0 72% 50%;
        --danger-foreground: 0 0% 98%;
        --danger-hover: 0 72% 45%;

        --input: #fff;
        --input-focus: #0284c7;
        --input-placeholder: #71717a;
        --input-invalid: #ef4444;

        --border: #d4d4d8;
        --border-strong: #a1a1aa;

        --card: #ffffff;
        --card-hover: 0 0% 98%;

        --radius: 0.25rem;
    }

    [data-theme='dark'] {
        --background: 240 5% 15%;
        --background-hover: 240 10% 5%;
        --foreground: 0 0% 98%;
        --foreground-hover: 0 0% 100%;

        --primary: 200 95% 80%;
        --primary-foreground: 240 5% 15%;
        --primary-hover: 200 95% 90%;

        --secondary: 240 5% 85%;
        --secondary-foreground: 240 5% 15%;
        --secondary-hover: 240 5% 95%;

        --success: 160 65% 50%;
        --success-foreground: 240 5% 15%;
        --success-hover: 160 65% 70%;

        --warning: 50 95% 50%;
        --warning-foreground: 240 5% 15%;
        --warning-hover: 50 95% 70%;

        --danger: 0 90% 70%;
        --danger-foreground: 240 5% 15%;
        --danger-hover: 0 90% 80%;

        --input: 240 5% 15%;
        --input-focus: #7dd3fc;
        --input-placeholder: #a1a1aa;
        --input-invalid: #fca5a5;

        --border: #3f3f46;
        --border-strong: #52525b;

        --card: #27272a;
        --card-hover: #3f3f46;
    }

    body {
        @apply bg-background font-Inter text-foreground antialiased;
    }
}
